body {
    margin: 0;
    padding: 0;
    background-color:#F8D8C6;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 35vw;
    margin: 0 2%;
}

.nav-list {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 0 2vw;
    justify-content: end;
    width: 100%;
}

.logo {
    width: 5%;
    height: auto;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}



.footer-copy {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
}

.box-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.box-icon img {
    width: 1em;
}

.box-icon span {
    font-size: 1em;
}

.box-copy {
    display: flex;
    justify-content: center;
    width: 100%;
}   


.text-copy span {
    margin: 16px;
}


/* Index.html */

.hero-page {
    height: 40vw;
}
.box-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 5em;
    background-color: #B2382C;
    border-radius: 60%;
}

.desc-hero {
    text-align: center;
    width: 50%;
}

.desc-intro {
    text-align: center;
    width: 50%;
}

/* about.html */

.about-page {
    display: flex;
    height: 50vw;
    align-items: center;
    flex-direction: column;
    top: 5%;
}

.about-page h1 {
}

.about-desc {
    width: 60%;
}

.int-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.int-icon img {
    width: 2.5em;
}

.int-icon div {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
}

.int-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* experience.html */


.exp-page {
    display: flex;
    height: 80vw;
    align-items: center;
    flex-direction: column;
}

.exp-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    gap: 5% 0px;
}

.exp-box .title {
    border-bottom: black 0.3em solid;
    width: 8%;

}

.rowexp-1 {
    display: flex;
    flex-direction: row;
}

.academic {
    display: flex;
    flex-direction: column;
    border: 3px solid maroon;
    box-shadow: 0.5em 0.5em;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
    padding: 2%;
    background-color: wheat;
}

.exp-img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.skill-x {
    display: flex;
    flex-direction: column;
    border: 3px solid maroon;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
    padding: 2%;
    background-color: wheat;
}

.skill-img {
    width: 25%;
    height: auto;
    object-fit: cover;

}